<?xml version="1.0" encoding="UTF-8"?>
<vxml version="2.1" xmlns="http://www.w3.org/2001/vxml"
      xmlns:voxeo="http://community.voxeo.com/xmlns/vxml" application="lab1voicexml.xml">
  
      <link next="lab1.vxml">
   <grammar type="application/srgs+xml" root="root" version="1.0">
     <rule id="root" scope="public">start over</rule>
  </grammar>
 </link>
      
      
   <nomatch>
    I am sorry, I didn't understand.
  </nomatch>

  <noinput>
    <break time="2000" />
    I am sorry, I didn't hear you.
    <reprompt/>
  </noinput>



<!-- Menu -->
<form id="menu">
 <property name="bargein" value="false"/> <!-- disable bargein for this dialog -->
  <menu>
     <prompt>
       <break time="2000" />
       Hello there! Welcome to the flight booking service.
       Please choose what to do next.
       <enumerate/>
     </prompt>
     <choice next="Delays"> Information on delayed flights </choice>
     <choice next="fromField"> Booking a flight </choice>
     <noinput>
       <break time="2000" />
       Please choose one of the next options.
          <enumerate/>
     </noinput>
</menu>
</vxml>
